@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Outfit:wght@100..900&display=swap");


*{
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}